<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit</title>
    <link rel="stylesheet" href="./css/submit.css" />
  </head>
  <body>
    <div id="heading">
        <h1>Developing A Flight Delay Prediction Model Using Machine Learning</h1></br></br>
        <h2>Team Id : PNT2022TMID36222</h2></br></br>
        <h2>Team Leader : JAGADESH SUBRAMANIAM KU </br></br>

            Team member : ABINESH V </br></br>
            
            Team member : BHARANI S </br></br>
            
            Team member : SANJAY A </br></br>

            Team member : KARTHICK D </br></br>
        
        </h2></br></br></br>
        <h1>      <label >{{result}}</label></h1>

    </div>
    


      </html>